In [1]:
import numpy as np
import pandas as pd
import seaborn as snb
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('ps.csv')

In [4]:
df.shape

(10, 3)

In [5]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [ ]:
snb.heatmap(df.isnull(), yticklabels=True, cmap='viridis')

In [ ]:
X=df.iloc[:,:-1]
X

In [ ]:
X.drop('Position', axis=1 , inplace=True)
X

In [ ]:
Y=df.iloc[:,2:]
Y

In [ ]:
plt.scatter(X,Y)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
LR=LinearRegression()

In [ ]:
LR.fit(X_train,Y_train)
Y_pred=LR.predict(X_test)
score=r2_score(Y_test,Y_pred)
score

In [ ]:
plt.scatter(X,Y,c='red')
plt.plot(X,LR.predict(X), c='olive')
plt.xlabel('Designation')
plt.ylabel('Salary')
plt.show()

In [ ]:
df

In [ ]:
level=float(input())
LR.predict([[level]])

<h2> Polynomial Regression

<h3> Degree 2

In [ ]:
df = pd.read_csv('ps.csv')

In [ ]:
X=df.iloc[:,1:2]
Y=df.iloc[:,2:]

In [ ]:
PF=PolynomialFeatures(degree=2)
X=PF.fit_transform(X)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)
PR2=LinearRegression()
PR2.fit(X_train,Y_train)
Y_pred=PR2.predict(X_test)
score=r2_score(Y_test,Y_pred)
score

<h3> Degree 5

In [ ]:
df = pd.read_csv('ps.csv')

In [ ]:
X1=df.iloc[:,1:2]
Y1=df.iloc[:,2:]

In [ ]:
PF=PolynomialFeatures(degree=5)
X=PF.fit_transform(X)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)
PR5=LinearRegression()
PR5.fit(X_train,Y_train)
Y_pred=PR5.predict(X_test)
score=r2_score(Y_test,Y_pred)
score

In [ ]:
X=df.iloc[:,1:2]
plt.scatter(X1,Y1,c='red')
plt.plot(X1,PR5.predict(PF.fit_transform(X)), c='olive')
plt.xlabel('Designation')
plt.ylabel('Salary')
plt.show()

In [ ]:
level=float(input())
PR5.predict(PF.fit_transform([[level]]))